{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">{{ user }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
