{% extends 'base.html.twig' %}

{% block body %}
    <div class="container h-100 d-flex justify-content-center flex-column">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6 mx-auto">
                <h1>Aanmelden</h1>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">E-mailadres</label>
                        <input name="_username" value="{{ last_username }}" type="email" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Wachtwoord</label>
                        <input name="_password" type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Inloggen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
