{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    {{ task }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
